// /57491254/sole24ore.com/Speciali_minisiti/Consorzio_Franciacorta_2016_Natale_139228/Top
#div-gpt-ad-Top style='height:1px; width:1px;'
  javascript:
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-Top'); });
