= partial "partials/hero"
= partial "partials/text"
= partial "partials/bottiglia"
= partial "partials/audio"
.wrap
  .js-media-player--0.plyr.plyr--vimeo.plyr--fullscreen-enabled.plyr--stopped
    div data-type="vimeo" data-video-id="143418951"
